@media only screen and (max-width: 694px) {
    .leaflet-control-legend {
        display: none;
    }
}

@media only screen and (min-width: 694px) {
    .leaflet-control-legend {
        border: 1px solid #cdd1d4;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
        background-color: white;
    }
    /* Hiển thị mã màu chú thích*/
    .leaflet-control-legend .mapTileLegendGradient {
        display: table-cell;
        width: 14px;
        height: 14px;
        opacity: .7;
    }
    .leaflet-control-legend .typeLowlight {
        color: #869099;
    }
    .leaflet-control-legend .listInline {
        font-size: 14px;
        padding: 6px 5px 5px 5px;
    }
    .leaflet-control-legend .listInline li {
        display: inline-block;
    }
    .leaflet-control-legend .listInline li:first-child {
        margin-right: 10px;
    }
    .leaflet-control-legend .listInline li:last-child {
        margin-left: 10px;
    }
    .leaflet-control-legendd .listInline li div:hover {
        cursor: pointer;
    }
    .leaflet-control-legend .ul {
        width: 100%;
    }
    .leaflet-control-legend .map-typeEmphasize {
        font-size: 13px;
        font-weight: bold;
        color: #333;
        padding: 6px 5px 6px 5px;
        text-align: center;
    }
}