#fh-grid-map{
	border-left: 5px solid #20c063;
    border-right: 5px solid #20c063;
    border-top: 1px solid #20c063;
    border-radius: 10px;
}
#map {
	width: 100%;
	height: 600px;
	background-color: #fff;
}


/* Cho những thành phần cố định vị trí */

.fixed {
	position: absolute;
}


/* Cho những thành phần là điều khiển */

.mapControl {
	z-index: 100;
}


/*Vị trí mapControl*/

.leaflet-center {
	left: 42%;
}

.left-bottom {
	top: 150px;
	left: 10px;
}


/*
* Hiển thị mục chú thích trên bản đồ về giá đất
*/


/* Mục chú thích*/

.map-control {
	border: 1px solid #cdd1d4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background-color: white;
	font-family: OpenSans, sans-serif;
}




/*Popup FeatureLayer*/

table.featureInfo,
table.featureInfo td,
table.featureInfo th {
	border: 1px solid #ddd;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	font-size: 90%;
	padding: .2em .1em;
}

table.featureInfo th {
	padding: .2em .2em;
	font-weight: bold;
	background: #eee;
}

table.featureInfo td {
	background: #fff;
}

table.featureInfo tr.odd td {
	background: #eee;
}

table.featureInfo caption {
	text-align: left;
	font-size: 100%;
	font-weight: bold;
	padding: .2em .2em;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
	background: #20c063;
    color: #fff;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 1px solid #cdd1d4;
}
.popup-container{
	font-size:16px;
	background-color: #fff;
    color: #000;
	padding: 10px;
	border-radius: 20px
}
.popup-container table tr td:first-child{
	font-weight: bold;
}
.popup-container .popup-footer{
	margin: 5px;
}
.popup-container .popup-footer .item{
	padding: 5px;
}
.popup-container .popup-footer .fa{
	font-size: 25px;
	color:#20c063
}
.leaflet-container a.leaflet-popup-close-button{
	color: #fff
}
.cmd-container{
	left: 0;
    position: absolute;
    margin-left: 15px;
}
.cmd-container .price{
	font-size: 28px;
	color:#fff
}
.modal-header,.modal-footer{
	color: #fff;
	background-color: #20c063
}
.leaflet-control-legend{
	max-height: 133px;
	max-width: 133px;
    overflow: auto;
}