#map {
    width: 100%;
    height: 600px;
    background-color: #f2efe9;
}


/* Cho những thành phần cố định vị trí */

.fixed {
    position: absolute;
}


/* Cho những thành phần là điều khiển */

.mapControl {
    z-index: 100;
}


/*Vị trí mapControl*/

.leaflet-center {
    left: 42%;
}

.left-bottom {
    top: 150px;
    left: 10px;
}


/*
* Hiển thị mục chú thích trên bản đồ về giá đất
*/


/* Mục chú thích*/

.map-control {
    border: 1px solid #cdd1d4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background-color: white;
    font-family: OpenSans, sans-serif;
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 278px;
        height: unset;
    }
}


/*Popup FeatureLayer*/

table.featureInfo,
table.featureInfo td,
table.featureInfo th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-size: 90%;
    padding: .2em .1em;
}

table.featureInfo th {
    padding: .2em .2em;
    font-weight: bold;
    background: #eee;
}

table.featureInfo td {
    background: #fff;
}

table.featureInfo tr.odd td {
    background: #eee;
}

table.featureInfo caption {
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    padding: .2em .2em;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #20c063;
    color: #fff;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 1px solid #cdd1d4;
}

.popup-container {
    font-size: 16px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 20px
}

.popup-container table tr td:first-child {
    font-weight: bold;
}

.popup-container .popup-footer {
    margin: 5px;
}

.popup-container .popup-footer .item {
    padding: 5px;
}

.popup-container .popup-footer .fa {
    font-size: 25px;
    color: #20c063
}

.leaflet-container a.leaflet-popup-close-button {
    color: #fff
}

.cmd-container {
    left: 0;
    position: absolute;
    margin-left: 15px;
    max-width: 375px;
}

.cmd-container .price {
    font-size: 28px;
    color: #fff
}

.modal-header,
.modal-footer {
    color: #fff;
    background-color: #20c063
}

.leaflet-control-legend {
    max-height: 133px;
    max-width: 133px;
    overflow: auto;
}

.modal-header,
.modal-footer {
    padding: 6px;
}

@media (max-width: 768px) {
    .ditagis-search .ditagis-searchbox {
        max-width: 282px;
    }
}

.ditagis-search .ditagis-searchbox {
    position: relative;
    background: #20c063;
    border-radius: 2px;
    box-sizing: border-box;
    width: 359px;
    height: 48px;
    border: 1px solid #20c063;
    padding: 12px 70px 11px;
    transition-property: background, box-shadow;
    transition-duration: .3s;
    transition: left .5s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-property: -webkit-transform, transform, visibility, opacity;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 -1px 0 rgba(0, 0, 0, .02)
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-menu-container {
    position: absolute;
    z-index: 1003;
    left: 0;
    top: 0
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-menubutton i {
    color: #fff
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-menubutton {
    display: block;
    cursor: pointer;
    padding: 12px 16px
}

#searchboxinput {
    width: 100%
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-input-container input {
    font-size: 17px;
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-input-container input::-webkit-input-placeholder {
    color: #ffffff9c!important;
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-input-container input:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff9c!important;
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-input-container input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff9c!important;
}

.ditagis-search .ditagis-searchbox .ditagis-searchbox-input-container input:-ms-input-placeholder {
    color: #ffffff9c!important;
}

.ditagis-search .ditagis-searchbox .search-button i {
    color: #fff
}

.ditagis-search .ditagis-searchbox .search-button {
    display: block;
    padding: 2px 15px;
    cursor: pointer;
    opacity: .61
}

.ditagis-search .ditagis-searchbox .search-button:hover {
    opacity: .98
}

.ditagis-search .ditagis-searchbox .search-button-container,
.ditagis-search .ditagis-searchbox .search-button-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    border-left: 1px solid #ddd;
    height: 28px
}

button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner {
    margin: 0;
    padding: 0;
    border: 0
}


/**
* Hiển thị kết quả trả về khi tìm kiếm tại ô tìm kiếm
**/

.ditagis-search .ditagis-searchbox .result-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 14px;
    line-height: 16px;
    background-clip: padding-box;
    overflow: hidden;
    width: 100%;
    visibility: hidden;
    max-height: 0;
}

.ditagis-search .ditagis-searchbox .result-container.show {
    overflow: auto;
    visibility: visible;
    max-height: 300px;
    animation: esri-fade-in 250ms ease-out;
}

.ditagis-search .ditagis-searchbox .result-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ditagis-search .ditagis-searchbox .result-container li {
    cursor: pointer;
    padding: 5px;
    border-top: solid 1px rgba(50, 50, 50, 0.25);
}

.ditagis-search .none-border {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: 0 0;
    list-style: none;
    overflow: visible
}

@media (max-width: 768px) {
    .ditagis-search .panel {
        max-width: 282px;
    }
}

.ditagis-search .panel {
    width: 359px;
    float: left;
    border: none;
    background: #fff;
    position: relative;
    display: none
}

.ditagis-search .panel li {
    cursor: pointer
}

.ditagis-search .panel li strong.name.error {
    color: red;
}

.ditagis-search .panel .panel-header {
    display: table
}

.ditagis-search .panel .panel-header-container {
    display: table-row;
    background-color: #20c063;
    color: #fff
}

.ditagis-search .panel .panel-header-title {
    display: table-cell;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 100%;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ditagis-search .panel .panel-close-button {
    background: url(images/ic_navigate_before_black_24dp_2x.png) no-repeat;
    background-size: 100%;
    height: 24px;
    width: 24px;
    margin: 5px;
    cursor: pointer;
    opacity: .6;
    vertical-align: middle
}

.ditagis-search .panel .panel-close-button:hover {
    opacity: .94
}

.ditagis-search .panel .search-container,
.results-container {
    padding: 0 9px;
    max-height: 420px;
    overflow: auto;
}

.ditagis-search .panel .btn-primary {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
    color: #ffffff;
    background-color: #20c063;
    border-color: #cccccc;
}

.ditagis-search .results-container .col-1 {
    width: 25%;
    display: inline-block;
    text-align: center
}

.ditagis-search .results-container .col-2 {
    width: 75%;
    display: inline-block;
}

.ditagis-search .results-container .number {
    color: #34B67A;
    font-size: 28px;
    font-family: "Roboto", sans-serif, "Helvetica Neue" !important;
    font-weight: 300 !important;
}

.ditagis-search .results-container .list-group-item {
    border: none;
}

.ditagis-search .results-container .list-group-item .row {
    border-bottom: 1px #ddd solid;
}

.leaflet-touch .leaflet-control-layers-toggle,
.leaflet-touch .leaflet-bar a {
    background-color: #20c063;
    color: #fff;
}

.leaflet-touch .leaflet-control-layers-toggle {
    text-align: center;
    font-size: 1.4em;
    line-height: 30px;
    width: 30px;
    height: 30px;
}