
#myKetqua
    .panel.panel-info.panel-info-ketqua
        .panel-heading.panel-heading-custom
            #dv_vitri M&#x1EB6;T TI&#x1EC0;N
            #dv_loai &Dstrok;&#x1AF;&#x1EDC;NG PH&#x1ED0; LO&#x1EA0;I :
        .panel-body
            .div_tieude_kq 1. B&#x1EA3;ng &dstrok;&#x1A1;n gi&aacute; chi ti&#x1EBF;t c&aacute;c lo&#x1EA1;i &dstrok;&#x1EA5;t (1.000 &dstrok;&#x1ED3;ng/m2)
            #dv_tb1.col-sm-12.col-md-6
            #dv_tb2.col-sm-12.col-md-6
            .div_tieude_kq 2. B&#x1EA3;ng &dstrok;&#x1A1;n gi&aacute; chuy&#x1EC3;n m&#x1EE5;c &dstrok;&iacute;ch (1.000 &dstrok;&#x1ED3;ng/m2)
            #dv_tb3.col-sm-12
            #dv_tb4.col-sm-12
            #dv_tb5.col-sm-12
    p.bg-success.ghichu(style='text-align: center')
        b TH&Ocirc;NG TIN TRA C&#x1EE8;U CH&#x1EC8; MANG T&Iacute;NH CH&#x1EA4;T THAM KH&#x1EA2;O
        br
        b 0919.887.087 - H&#x1ED3; H&#x1EEF;u Nam
style.
    .ghichu{
    padding: 10px;
    }
    a:hover, a:visited, a:link, a:active
    {
    text-decoration: none;
    }