<!DOCTYPE html>
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="../stylesheets/loader.css" rel="stylesheet" type="text/css">
  <script src="../javascripts/lib/jquery-1.10.2.min.js"></script>
  <script src="../javascripts/lib/Loader.js"></script>
</head>
<div id="map"></div>
<script async="" src="../javascripts/lib/require.js" data-main="../javascripts/minimap.js"></script>