
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title=  title
  link(href='stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='stylesheets/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
  link(href='stylesheets/loader.css', rel='stylesheet', type='text/css')
  script(src='javascripts/lib/Loader.js')
body
  header.fh-wrapper
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') S&#x1EDF; t&agrave;i nguy&ecirc;n m&ocirc;i tr&#x1B0;&#x1EDD;ng t&#x1EC9;nh B&igrave;nh D&#x1B0;&#x1A1;ng
        ul.nav.navbar-nav
          li
            a(href='/') Trang ch&#x1EE7;
          li
            a(href='/tracuu') Tra c&#x1EE9;u
  block content

  footer.footer-bottom-area
      // Footer Top Area End
      .container
          .row
              // Copyright
              .copyright.text-left.col-sm-6.col-xs-12
                  p
                      span S&#x1EDF; t&agrave;i nguy&ecirc;n v&agrave; m&ocirc;i tr&#x1B0;&#x1EDD;ng t&#x1EC9;nh B&igrave;nh D&#x1B0;&#x1A1;ng.
                  p
                      span
                  p
                      span 0650 3 822252
                      span 0650 3 828035
                  p
                      a(href='mailto:sotnmt@binhduong.gov.vn') sotnmt@binhduong.gov.vn
                  p Phiên bản:

              // Author Credit
              .author-credit.text-right.col-sm-6.col-xs-12
                  p
                      span
                          a(href='http://www.ditagis.hcmut.edu.vn/', target='_blank') Trung t&acirc;m c&ocirc;ng ngh&#x1EC7; th&ocirc;ng tin &dstrok;&#x1ECB;a l&yacute; DITAGIS
                  p
                      span 268, L&yacute; Th&#x1B0;&#x1EDD;ng Ki&#x1EC7;t, Qu&#x1EAD;n 10, Tp.HCM (L&#x1EA7;u 4, Nh&agrave; B2)
                  p
                      span  (+84.8).38642768
                      span (+84.8).38686548
                  p
                      span
                          a(href='mailto:ditagis@hcmut.edu.vn') ditagis@hcmut.edu.vn
                  p(style='display:none') fuhi-dev
script(src='javascripts/lib/jquery-2.2.3.min.js')
script(src='javascripts/lib/jquery-ui.min.js')
script(src='javascripts/lib/bootstrap.min.js')
script(src='javascripts/lib/bootstrap-notify.min.js')
block javascript