extends layout

block content
    script.
        Loader.show();
    .container
        section#fh-grid-map.fh-inner-banner
            #map
block javascript            
    script(async='', src='javascripts/lib/require.js', data-main='javascripts/app.js')