/*==========================================*/
/*Theme Color 1 CSS*/
/*=========================================*/
.fh-signup-btns,.fh-signup-btns:before,.fh-nav-holder .navbar-nav li ul li:before,.fh-btn-style1,.parallax-btn:before,.btn-search-submit,#fh-testimonial-slider .owl-dots .owl-dot.active span,.fh-service-item .icon-box,.fh-service-item .icon-box:before
,.fh-pagination-listed li.active a,.fh-pagination-listed li a:hover,.fh-exclusive-section,.fh-price-thumb .btn-price,#fh-featured-slider .owl-dots .owl-dot.active span,.fh-advance-search-form .btn-search-submit,.agent-form-outer .btn-submit,.fh-social-links li a:before,
.fh-contact-form .btn-submit,.btn-search-homes,.fh-accordian-holder .panel-default .panel-heading:hover,.fh-modal-form button[type="submit"],.fh-modal-form .create-account,.fh-nav-holder .navbar-toggle,
.fh-nav-holder .navbar-toggle:hover,.fh-nav-holder .navbar-toggle:focus{
    background-color: #20c063;
}




.top-social-links li:hover .fa,.fh-nav-holder .navbar-default .navbar-nav > li > a:hover,.fh-meta-listed li .fa,.ft-listed li .fa,.fh-search-inner_v2 .top-social-links li a,
.search-address-outer .btn-search-submit .fa,.fh-searchouter_v2 .top-social-links li a,.fh-readmore,.fh-filterlist a.current,.fh-filterlist a:hover,.fh-text-holder .phone,.fh-text-holder .phone a,.fh-banner-info h4,.fh-breadcrumb-listed li a:hover,
.fh-breadcrumb-listed li.active,.agent-info .text-holder .ft-listed a,.fh-adiltional-box h4 .fa,.fh-text-holder .ft-listed li,.fh-comments-info .reply,.back-home .fa,.fh-modal-tabs-outer .nav-tabs > li.active a,.fh-modal-form .password-lost
,.fh-wrapper h1 a,.fh-wrapper h2 a:hover,.fh-wrapper h3 a:hover,.fh-wrapper h4 a:hover,.fh-wrapper h5 a:hover,.fh-wrapper h6 a:hover{
    color: #20c063;
}



.fh-nav-holder .navbar-nav li ul ,.fh-nav-holder .dropdown-menu ul,.fh-heading-outer h2:before,.parallax-btn:hover,.fh-filterlist > a:before,.fh-filterlist .fh-morefilter a:before,.fh-modal-tabs-outer .nav-tabs > li.active,
.fh-modal-tabs-outer .nav-tabs > li:hover{
    border-color: #20c063;
}




/*==========================================*/
/*Theme Color 2 CSS*/
/*=========================================*/
.fh-top-row,.fh-btn-style1:before,.fh-footer,.fh-exclusive-section,.p404-title,.fh-modal-holder .modal-content .modal-header{
    background-color: #132239;
}




.fh-p404-section h2,.back-home{
    color: #132239;
}

